@import "../../assets/styles/variables.scss";
footer {
  width: 100%;
  background: $background-color;
  box-shadow: $main-box-shadow;
  text-align: center;
  padding: 25px;
  color: $sub-text-color;
}
